# Collaborative Filtering

In [3]:
from zipfile import ZipFile
file = 'movies_data.zip'
with ZipFile(file,'r') as zip:
    zip.printdir()
    zip.extractall()

File Name                                             Modified             Size
ml-latest-small/                               2018-09-26 15:50:12            0
ml-latest-small/links.csv                      2018-09-26 15:50:10       197979
ml-latest-small/tags.csv                       2018-09-26 15:49:40       118660
ml-latest-small/ratings.csv                    2018-09-26 15:49:38      2483723
ml-latest-small/README.txt                     2018-09-26 15:50:12         8342
ml-latest-small/movies.csv                     2018-09-26 15:49:56       494431

In [4]:
import zipfile
zf = zipfile.ZipFile('movies_data.zip')

In [5]:
import pandas as pd
import numpy as np

In [6]:
movies_df = pd.read_csv('ml-latest-small/movies.csv')
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [7]:
ratings_df = pd.read_csv('ml-latest-small/ratings.csv')
ratings_df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [8]:
ratings_df = ratings_df.drop('timestamp',1)
ratings_df.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

We'll remove the year from title column and put it in separate year column

In [9]:
movies_df['year'] = movies_df.title.str.extract('(\(\d\d\d\d\))',expand=False)
movies_df['year'].head()

0    (1995)
1    (1995)
2    (1995)
3    (1995)
4    (1995)
Name: year, dtype: object

In [10]:
movies_df['year'] = movies_df.year.str.extract('(\d\d\d\d)',expand=False)
movies_df['year'].head()

0    1995
1    1995
2    1995
3    1995
4    1995
Name: year, dtype: object

In [11]:
movies_df['title'] = movies_df.title.str.replace('(\(\d\d\d\d\))','')
movies_df['title'] = movies_df['title'].apply(lambda x : x.strip())
movies_df.head()

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995

we'll also drop genre because there is no use of genre in collaborative filtering

In [12]:
movies_df = movies_df.drop('genres',1)
movies_df.head()

   movieId                        title  year
0        1                    Toy Story  1995
1        2                      Jumanji  1995
2        3             Grumpier Old Men  1995
3        4            Waiting to Exhale  1995
4        5  Father of the Bride Part II  1995

In collborating filtering, we recommend items which have been rated by other users to input user where users have similar set of interest.
We'll be  using pearson correlation to find the similarity of other users to input user.

The process for creating a User Based recommendation system is as follows:

- Select a user with the movies the user has watched
- Based on his rating to movies, find the top X neighbours
- Get the watched movie record of the user for each neighbour.
- Calculate a similarity score using some formula
- Recommend the items with the highest score

In [13]:
userInput = [
            {'title':'Breakfast Club, The', 'rating':5},
            {'title':'Toy Story', 'rating':3.5},
            {'title':'Jumanji', 'rating':2},
            {'title':"Pulp Fiction", 'rating':5},
            {'title':'Akira', 'rating':4.5},
            {'title':'Heat', 'rating' : 4},
            {'title' :'Sabrina','rating' : 3.5}
         ] 
inputMovies = pd.DataFrame(userInput)
inputMovies

   rating                title
0     5.0  Breakfast Club, The
1     3.5            Toy Story
2     2.0              Jumanji
3     5.0         Pulp Fiction
4     4.5                Akira
5     4.0                 Heat
6     3.5              Sabrina

let's extract the input movies's ID's from the movies dataframe and add them into it.

In [14]:
inputId = movies_df[movies_df['title'].isin(inputMovies['title']).tolist()]
inputId

      movieId                title  year
0           1            Toy Story  1995
1           2              Jumanji  1995
5           6                 Heat  1995
6           7              Sabrina  1995
257       296         Pulp Fiction  1994
697       915              Sabrina  1954
973      1274                Akira  1988
1445     1968  Breakfast Club, The  1985

In [15]:
inputMovies = pd.merge(inputId,inputMovies)
inputMovies

   movieId                title  year  rating
0        1            Toy Story  1995     3.5
1        2              Jumanji  1995     2.0
2        6                 Heat  1995     4.0
3        7              Sabrina  1995     3.5
4      915              Sabrina  1954     3.5
5      296         Pulp Fiction  1994     5.0
6     1274                Akira  1988     4.5
7     1968  Breakfast Club, The  1985     5.0

In [16]:
inputMovies= inputMovies.drop('year',1)
inputMovies

   movieId                title  rating
0        1            Toy Story     3.5
1        2              Jumanji     2.0
2        6                 Heat     4.0
3        7              Sabrina     3.5
4      915              Sabrina     3.5
5      296         Pulp Fiction     5.0
6     1274                Akira     4.5
7     1968  Breakfast Club, The     5.0

Now, with given movieId we'll find the subset of users who have reviewed the movie

In [17]:
userSubset = ratings_df[ratings_df['movieId'].isin(inputMovies['movieId'].tolist())]
userSubset.head(10)

     userId  movieId  rating
0         1        1     4.0
2         1        6     4.0
16        1      296     3.0
320       4      296     1.0
422       4     1968     4.0
516       5        1     4.0
533       5      296     5.0
560       6        2     4.0
564       6        6     4.0
565       6        7     4.0

In [18]:
userSubset.tail()

       userId  movieId  rating
99534     610        1     5.0
99535     610        6     5.0
99552     610      296     5.0
99636     610     1274     5.0
99664     610     1968     4.0

In [19]:
#now we groupby user id
userSubsetGroup = userSubset.groupby(['userId'])
userSubsetGroup.head(10)

       userId  movieId  rating
0           1        1     4.0
2           1        6     4.0
16          1      296     3.0
320         4      296     1.0
422         4     1968     4.0
516         5        1     4.0
533         5      296     5.0
560         6        2     4.0
564         6        6     4.0
565         6        7     4.0
692         6      296     2.0
874         7        1     4.5
1026        8        2     4.0
1049        8      296     4.0
1119       10      296     1.0
1259       11        6     5.0
1387       14        7     3.0
1403       14      296     3.0
1434       15        1     2.5
1442       15      296     4.0
1575       16      296     3.0
1667       17        1     4.5
1676       17      296     5.0
1772       18        1     3.5
1773       18        2     3.0
1774       18        6     4.0
1796       18      296     4.0
2274       19        1     4.0
2275       19        2     3.0
2277       19        7     2.0
...       ...      ...     ...
96294     603      915     4.0
96414     603     1274     1.0
97043     604        1     3.0
97044     604        2     5.0
97046     604        6     3.0
97103     604      296     5.0
97143     605        1     4.0
97144     605        2     3.5
97151     605      296     2.0
97364     606        1     2.5
97365     606        7     2.5
97418     606      296     5.0
97502     606      915     4.5
97592     606     1274     4.0
97692     606     1968     4.0
98479     607        1     4.0
98496     607      296     3.0
98574     607     1968     5.0
98666     608        1     2.5
98667     608        2     2.0
98723     608      296     5.0
98882     608     1274     4.0
98980     608     1968     4.0
99497     609        1     3.0
99510     609      296     4.0
99534     610        1     5.0
99535     610        6     5.0
99552     610      296     5.0
99636     610     1274     5.0
99664     610     1968     4.0

[970 rows x 3 columns]

In [20]:
userSubsetGroup.tail()

       userId  movieId  rating
0           1        1     4.0
2           1        6     4.0
16          1      296     3.0
320         4      296     1.0
422         4     1968     4.0
516         5        1     4.0
533         5      296     5.0
560         6        2     4.0
564         6        6     4.0
565         6        7     4.0
692         6      296     2.0
874         7        1     4.5
1026        8        2     4.0
1049        8      296     4.0
1119       10      296     1.0
1259       11        6     5.0
1387       14        7     3.0
1403       14      296     3.0
1434       15        1     2.5
1442       15      296     4.0
1575       16      296     3.0
1667       17        1     4.5
1676       17      296     5.0
1772       18        1     3.5
1773       18        2     3.0
1774       18        6     4.0
1796       18      296     4.0
2274       19        1     4.0
2275       19        2     3.0
2277       19        7     2.0
...       ...      ...     ...
96171     603      296     5.0
96294     603      915     4.0
96414     603     1274     1.0
97043     604        1     3.0
97044     604        2     5.0
97046     604        6     3.0
97103     604      296     5.0
97143     605        1     4.0
97144     605        2     3.5
97151     605      296     2.0
97365     606        7     2.5
97418     606      296     5.0
97502     606      915     4.5
97592     606     1274     4.0
97692     606     1968     4.0
98479     607        1     4.0
98496     607      296     3.0
98574     607     1968     5.0
98666     608        1     2.5
98667     608        2     2.0
98723     608      296     5.0
98882     608     1274     4.0
98980     608     1968     4.0
99497     609        1     3.0
99510     609      296     4.0
99534     610        1     5.0
99535     610        6     5.0
99552     610      296     5.0
99636     610     1274     5.0
99664     610     1968     4.0

[951 rows x 3 columns]

let's look at one of the user

In [21]:
userSubsetGroup.get_group(605)

       userId  movieId  rating
97143     605        1     4.0
97144     605        2     3.5
97151     605      296     2.0

In [22]:
#Sorting it so users with movie most in common with the input will have priority
userSubsetGroup = sorted(userSubsetGroup,  key=lambda x: len(x[1]), reverse=True)

In [23]:
userSubsetGroup[0:5]

[(414,        userId  movieId  rating
  62294     414        1     4.0
  62295     414        2     3.0
  62298     414        6     3.0
  62299     414        7     3.0
  62425     414      296     5.0
  62637     414      915     4.0
  62769     414     1274     4.0
  62957     414     1968     5.0), (474,        userId  movieId  rating
  73092     474        1     4.0
  73093     474        2     3.0
  73095     474        6     3.0
  73096     474        7     3.0
  73172     474      296     4.0
  73298     474      915     4.0
  73466     474     1274     2.0
  73641     474     1968     3.5), (177,        userId  movieId  rating
  24900     177        1     5.0
  24901     177        2     3.5
  24902     177        7     1.0
  24930     177      296     5.0
  24997     177      915     5.0
  25069     177     1274     2.0
  25129     177     1968     3.5), (599,        userId  movieId  rating
  92623     599        1     3.0
  92624     599        2     2.5
  92626     599        6     4.5
  92627     599        7     2.5
  92742     599      296     5.0
  93073     599     1274     5.0
  93269     599     1968     3.5), (57,       userId  movieId  rating
  8035      57        1     5.0
  8036      57        6     3.0
  8071      57      296     3.0
  8162      57      915     5.0
  8230      57     1274     3.0
  8321      57     1968     4.0)]

now we'll use pearson correlation to find the similarity of users to our specified user and find the most common users.

formula of pearson correlation :

![alt text](https://wikimedia.org/api/rest_v1/media/math/render/svg/bd1ccc2979b0fd1c1aec96e386f686ae874f9ec0 "Pearson Correlation")

value of r varies from -1 to 1. r=1 means users have same interest while r=-1 means users have opposite interest.

In [24]:
#we'll not select every user, rather use a subset of users

userSubsetGroup = userSubsetGroup[0:100]
userSubsetGroup

[(414,        userId  movieId  rating
  62294     414        1     4.0
  62295     414        2     3.0
  62298     414        6     3.0
  62299     414        7     3.0
  62425     414      296     5.0
  62637     414      915     4.0
  62769     414     1274     4.0
  62957     414     1968     5.0), (474,        userId  movieId  rating
  73092     474        1     4.0
  73093     474        2     3.0
  73095     474        6     3.0
  73096     474        7     3.0
  73172     474      296     4.0
  73298     474      915     4.0
  73466     474     1274     2.0
  73641     474     1968     3.5), (177,        userId  movieId  rating
  24900     177        1     5.0
  24901     177        2     3.5
  24902     177        7     1.0
  24930     177      296     5.0
  24997     177      915     5.0
  25069     177     1274     2.0
  25129     177     1968     3.5), (599,        userId  movieId  rating
  92623     599        1     3.0
  92624     599        2     2.5
  92626     599        6     4.5
  92627     599        7     2.5
  92742     599      296     5.0
  93073     599     1274     5.0
  93269     599     1968     3.5), (57,       userId  movieId  rating
  8035      57        1     5.0
  8036      57        6     3.0
  8071      57      296     3.0
  8162      57      915     5.0
  8230      57     1274     3.0
  8321      57     1968     4.0), (68,        userId  movieId  rating
  10360      68        1     2.5
  10361      68        2     2.5
  10364      68        6     4.0
  10365      68        7     2.0
  10419      68      296     2.0
  10679      68     1968     3.0), (91,        userId  movieId  rating
  14121      91        1     4.0
  14122      91        2     3.0
  14124      91        6     5.0
  14173      91      296     4.5
  14316      91     1274     5.0
  14383      91     1968     3.0), (219,        userId  movieId  rating
  31524     219        1     3.5
  31525     219        2     2.5
  31526     219        6     3.5
  31554     219      296     4.0
  31628     219     1274     2.5
  31680     219     1968     3.0), (274,        userId  movieId  rating
  39229     274        1     4.0
  39230     274        2     3.5
  39231     274        6     4.0
  39288     274      296     5.0
  39448     274     1274     4.0
  39549     274     1968     4.0), (480,        userId  movieId  rating
  76227     480        1     3.0
  76228     480        2     3.0
  76230     480        6     4.0
  76273     480      296     4.0
  76396     480     1274     4.0
  76462     480     1968     3.5), (483,        userId  movieId  rating
  77222     483        1     4.0
  77223     483        2     4.0
  77265     483      296     5.0
  77332     483      915     3.5
  77375     483     1274     3.5
  77431     483     1968     3.5), (600,        userId  movieId  rating
  95101     600        1     2.5
  95102     600        2     4.0
  95105     600        7     3.5
  95154     600      296     4.5
  95241     600      915     3.5
  95306     600     1274     3.5), (606,        userId  movieId  rating
  97364     606        1     2.5
  97365     606        7     2.5
  97418     606      296     5.0
  97502     606      915     4.5
  97592     606     1274     4.0
  97692     606     1968     4.0), (19,       userId  movieId  rating
  2274      19        1     4.0
  2275      19        2     3.0
  2277      19        7     2.0
  2449      19      915     2.0
  2629      19     1968     2.0), (45,       userId  movieId  rating
  6477      45        1     4.0
  6479      45        6     4.0
  6480      45        7     3.0
  6511      45      296     5.0
  6662      45     1968     4.0), (182,        userId  movieId  rating
  26092     182        1     4.0
  26093     182        6     4.5
  26152     182      296     5.0
  26301     182     1274     5.0
  26418     182     1968     5.0), (202,        userId  movieId  rating
  29378     202        1     4.0
  29379     202        2     4.0
  29380     202        6     5.0
  29401     202      296     4.0
  29597     202     1968     5.0), (217,        userId  movieId  rating
  30885     217        1     4.0
  30886     217        2     2.0
  30888     217        6     2.0
  30932     217      296     2.0
  31224     217     1968     4.0), (298,        userId  movieId  rating
  44535     298        1     2.0
  44536     298        2     0.5
  44555     298      296     4.5
  44620     298     1274     4.0
  44655     298     1968     3.5), (318,        userId  movieId  rating
  48984     318        2     3.5
  48985     318        6     4.0
  49009     318      296     4.5
  49091     318     1274     5.0
  49126     318     1968     3.5), (357,        userId  movieId  rating
  54123     357        1     5.0
  54124     357        2     3.0
  54148     357      296     4.5
  54197     357      915     3.0
  54290     357     1968     4.0), (434,        userId  movieId  rating
  67080     434        1     4.0
  67081     434        2     2.5
  67082     434        6     4.0
  67100     434      296     5.0
  67154     434     1274     5.0), (469,        userId  movieId  rating
  72453     469        1     4.0
  72454     469        6     3.0
  72478     469      296     5.0
  72613     469     1274     4.0
  72696     469     1968     5.0), (470,        userId  movieId  rating
  72918     470        1     4.0
  72919     470        2     3.0
  72922     470        6     3.0
  72923     470        7     3.0
  72954     470      296     3.0), (477,        userId  movieId  rating
  75424     477        1     4.0
  75425     477        2     4.0
  75447     477      296     4.5
  75558     477     1274     5.0
  75613     477     1968     4.0), (489,        userId  movieId  rating
  78471     489        2     2.5
  78473     489        7     4.0
  78512     489      296     4.0
  78591     489      915     5.0
  78699     489     1968     4.0), (561,        userId  movieId  rating
  86582     561        1     4.0
  86583     561        2     4.0
  86585     561        6     4.0
  86601     561      296     4.5
  86710     561     1968     4.0), (590,        userId  movieId  rating
  90517     590        1     4.0
  90518     590        2     2.5
  90521     590        6     3.5
  90546     590      296     4.5
  90619     590      915     3.5), (603,        userId  movieId  rating
  96100     603        1     4.0
  96101     603        6     4.0
  96171     603      296     5.0
  96294     603      915     4.0
  96414     603     1274     1.0), (608,        userId  movieId  rating
  98666     608        1     2.5
  98667     608        2     2.0
  98723     608      296     5.0
  98882     608     1274     4.0
  98980     608     1968     4.0), (610,        userId  movieId  rating
  99534     610        1     5.0
  99535     610        6     5.0
  99552     610      296     5.0
  99636     610     1274     5.0
  99664     610     1968     4.0), (6,      userId  movieId  rating
  560       6        2     4.0
  564       6        6     4.0
  565       6        7     4.0
  692       6      296     2.0), (18,       userId  movieId  rating
  1772      18        1     3.5
  1773      18        2     3.0
  1774      18        6     4.0
  1796      18      296     4.0), (32,       userId  movieId  rating
  4929      32        1     3.0
  4931      32        6     3.0
  4932      32        7     4.0
  4961      32      296     5.0), (50,       userId  movieId  rating
  7112      50        1     3.0
  7116      50      296     4.0
  7158      50     1274     4.0
  7175      50     1968     2.5), (64,       userId  movieId  rating
  9428      64        1     4.0
  9430      64        6     4.5
  9466      64      296     4.5
  9622      64     1968     3.5), (84,        userId  movieId  rating
  13077      84        6     4.0
  13078      84        7     3.0
  13137      84      296     4.0
  13236      84      915     3.0), (103,        userId  movieId  rating
  15565     103        1     4.0
  15566     103        2     4.0
  15587     103      296     5.0
  15684     103     1968     4.0), (105,        userId  movieId  rating
  16215     105        6     4.0
  16226     105      296     5.0
  16249     105      915     4.0
  16289     105     1274     3.5), (117,        userId  movieId  rating
  18349     117        2     3.0
  18352     117        6     3.0
  18353     117        7     4.0
  18412     117      296     4.0), (132,        userId  movieId  rating
  19919     132        1     2.0
  19946     132      296     4.0
  19991     132      915     2.5
  20048     132     1968     4.0), (135,        userId  movieId  rating
  20336     135        1     4.0
  20337     135        2     3.0
  20357     135      296     4.0
  20482     135     1968     4.0), (140,        userId  movieId  rating
  21083     140        1     3.0
  21084     140        2     3.5
  21085     140        6     5.0
  21119     140      296     4.0), (156,        userId  movieId  rating
  22684     156        1     4.0
  22707     156      296     5.0
  22758     156      915     3.0
  22891     156     1968     3.5), (160,        userId  movieId  rating
  23226     160        1     4.0
  23227     160        2     4.0
  23228     160        6     2.0
  23264     160      296     5.0), (166,        userId  movieId  rating
  23864     166        1     5.0
  23865     166        6     3.5
  23874     166      296     4.5
  23932     166     1968     2.5), (226,        userId  movieId  rating
  33044     226        1     3.5
  33045     226        2     3.0
  33083     226      296     4.5
  33217     226     1968     4.0), (266,        userId  movieId  rating
  38665     266        1     2.0
  38666     266        6     4.0
  38687     266      296     5.0
  38781     266     1968     2.0), (282,        userId  movieId  rating
  41460     282        1     4.5
  41461     282        6     4.0
  41472     282      296     4.0
  41533     282     1968     4.0), (288,        userId  movieId  rating
  42114     288        1     4.5
  42115     288        2     2.0
  42150     288      296     5.0
  42438     288     1968     3.0), (294,        userId  movieId  rating
  43958     294        2     3.0
  43960     294        6     3.0
  43990     294      296     4.0
  44184     294     1968     3.0), (304,        userId  movieId  rating
  45728     304        1     5.0
  45729     304        2     4.0
  45730     304        7     4.0
  45768     304      296     5.0), (305,        userId  movieId  rating
  45944     305        2     3.5
  45945     305        6     3.5
  45962     305      296     5.0
  46076     305     1968     5.0), (307,        userId  movieId  rating
  46733     307        1     4.0
  46734     307        2     2.5
  46790     307      296     4.5
  47011     307     1968     4.5), (313,        userId  movieId  rating
  48241     313        6     3.0
  48261     313      296     5.0
  48336     313     1274     5.0
  48389     313     1968     2.0), (314,        userId  movieId  rating
  48581     314        1     3.0
  48582     314        6     3.0
  48583     314        7     4.0
  48632     314      296     1.0), (322,        userId  movieId  rating
  49974     322        1     3.5
  49975     322        2     3.0
  49983     322      296     5.0
  50026     322     1968     3.0), (330,        userId  movieId  rating
  50948     330        1     4.0
  50949     330        2     1.5
  50975     330      296     4.0
  51094     330     1968     5.0), (353,        userId  movieId  rating
  53492     353        1     5.0
  53493     353        2     4.0
  53495     353        6     4.0
  53547     353      296     5.0), (372,        userId  movieId  rating
  56128     372        1     3.0
  56129     372        6     5.0
  56180     372      296     4.0
  56313     372     1274     1.0), (373,        userId  movieId  rating
  56364     373        1     3.0
  56365     373        2     3.0
  56366     373        6     5.0
  56415     373      296     5.0), (380,        userId  movieId  rating
  56878     380        1     5.0
  56879     380        2     5.0
  56880     380        6     5.0
  56920     380      296     5.0), (387,        userId  movieId  rating
  59269     387      296     5.0
  59344     387      915     3.5
  59453     387     1274     4.5
  59540     387     1968     3.5), (391,        userId  movieId  rating
  60405     391        1     3.0
  60406     391        6     4.0
  60430     391      296     5.0
  60603     391     1968     4.0), (411,        userId  movieId  rating
  62009     411        1     5.0
  62010     411        2     4.0
  62012     411        7     3.0
  62071     411      296     5.0), (425,        userId  movieId  rating
  65884     425        2     3.0
  65885     425        6     4.0
  65914     425      296     4.0
  66035     425     1968     3.5), (448,        userId  movieId  rating
  68655     448        1     5.0
  68656     448        2     3.0
  68694     448      296     5.0
  68943     448     1968     3.0), (525,        userId  movieId  rating
  82613     525        1     4.0
  82614     525        2     3.5
  82662     525      915     3.5
  82713     525     1968     4.5), (559,        userId  movieId  rating
  85984     559        1     5.0
  85985     559        2     4.0
  85986     559        6     5.0
  86029     559      296     3.0), (573,        userId  movieId  rating
  88677     573        1     5.0
  88678     573        2     4.5
  88679     573        6     4.5
  88693     573      296     5.0), (597,        userId  movieId  rating
  92159     597        1     4.0
  92160     597        6     3.0
  92161     597        7     1.0
  92419     597     1968     5.0), (604,        userId  movieId  rating
  97043     604        1     3.0
  97044     604        2     5.0
  97046     604        6     3.0
  97103     604      296     5.0), (1,     userId  movieId  rating
  0        1        1     4.0
  2        1        6     4.0
  16       1      296     3.0), (21,       userId  movieId  rating
  3219      21        1     3.5
  3220      21        2     3.5
  3231      21      296     3.5), (23,       userId  movieId  rating
  3781      23        6     4.0
  3789      23      296     3.5
  3835      23     1274     4.0), (33,       userId  movieId  rating
  5031      33        1     3.0
  5032      33        7     1.0
  5059      33      296     5.0), (42,       userId  movieId  rating
  5876      42        7     3.0
  5917      42      296     5.0
  6087      42     1968     4.0), (43,       userId  movieId  rating
  6315      43        1     5.0
  6318      43        7     5.0
  6360      43      296     3.0), (62,       userId  movieId  rating
  8791      62        2     4.0
  8792      62        6     4.5
  8797      62      296     4.5), (63,       userId  movieId  rating
  9157      63        1     5.0
  9172      63      296     5.0
  9242      63     1968     4.0), (66,        userId  movieId  rating
  9979       66        1     4.0
  10002      66      296     5.0
  10128      66     1968     4.0), (82,        userId  movieId  rating
  12730      82        1     2.5
  12731      82        2     3.0
  12732      82        6     3.5), (95,        userId  movieId  rating
  14873      95        7     3.0
  14912      95     1274     5.0
  14929      95     1968     4.5), (107,        userId  movieId  rating
  16970     107        1     4.0
  16971     107        2     5.0
  16992     107      296     3.0), (112,        userId  movieId  rating
  17904     112        1     3.0
  17905     112        2     1.5
  17906     112        6     4.5), (121,        userId  movieId  rating
  18773     121        1     4.0
  18775     121        6     5.0
  18803     121      296     4.0), (122,        userId  movieId  rating
  18831     122        2     4.0
  18845     122      296     5.0
  18900     122     1968     4.5), (141,        userId  movieId  rating
  21691     141        1     4.0
  21700     141      296     4.0
  21734     141     1968     4.0), (144,        userId  movieId  rating
  21968     144        1     3.5
  21969     144        2     3.0
  21989     144      296     4.0), (153,        userId  movieId  rating
  22425     153        1     2.0
  22426     153        2     2.0
  22429     153      296     3.0), (169,        userId  movieId  rating
  24321     169        1     4.5
  24322     169        2     4.0
  24325     169        7     4.5), (179,        userId  movieId  rating
  25881     179        1     4.0
  25883     179        7     3.0
  25909     179      296     4.0), (181,        userId  movieId  rating
  25975     181        6     3.0
  25976     181        7     3.0
  26024     181      296     2.0), (186,        userId  movieId  rating
  27307     186        1     4.0
  27308     186        2     4.0
  27343     186      915     4.0), (191,        userId  movieId  rating
  27925     191        1     4.0
  27926     191        6     4.0
  27983     191      296     5.0), (195,        userId  movieId  rating
  28087     195        6     4.0
  28103     195      296     5.0
  28172     195     1968     3.0), (198,        userId  movieId  rating
  28361     198      296     5.0
  28417     198     1274     4.0
  28454     198     1968     3.0), (199,        userId  movieId  rating
  28571     199        6     4.0
  28572     199        7     3.0
  28592     199      296     4.0), (200,        userId  movieId  rating
  28934     200        1     3.5
  28949     200      296     5.0
  29025     200     1968     4.0), (201,        userId  movieId  rating
  29268     201        1     5.0
  29283     201      296     5.0
  29337     201     1968     5.0)]

![alt text](https://wikimedia.org/api/rest_v1/media/math/render/svg/435a23c499a2450f0752112e69a9b808336a7cce)

rearranging the pearson correlation's formula

In [94]:
import numpy as np
from math import*
def square_rooted(x):
    return (sqrt(sum([a*a for a in x])))
def pearson_correlation(x,y):
    x_m =np.mean(x)
    y_m =np.mean(y)
    for i in range(len(x)):
        x[i]=x[i] - x_m
    for j in range(len(y)):
        y[j]=y[j] - y_m
    if(square_rooted(x)*square_rooted(y) == 0):
        return 0
    return (np.dot(x,y) / float(square_rooted(x )*square_rooted(y )))

In [95]:
import math
#Store the Pearson Correlation in a dictionary, where the key is the user Id and the value is the coefficient
pearsonCorrelationDict = {}

for name,group in userSubsetGroup:
    group = group.sort_values(by='movieId')
    inputMovies = inputMovies.sort_values(by='movieId')
    n= len(group)
    temp_df = inputMovies[inputMovies['movieId'].isin(group['movieId'].tolist())]
    tempRating = temp_df['rating'].tolist()
    #print(tempRating)
    groupRating = group['rating'].tolist()
    #print(groupRating)
    pearsonCorrelationDict[name] =pearson_correlation(tempRating,groupRating)

In [96]:
pearsonCorrelationDict.items()

dict_items([(414, 0.7557086549031783), (474, 0.06399221901922213), (177, 0.05594542388644596), (599, 0.7231450959435695), (57, -0.6640906067234306), (68, 0.0983611844205792), (91, 0.38240032376574457), (219, 0.43452409462674085), (274, 0.7136412401400631), (480, 0.7136412401400632), (483, 0.1353903836185097), (600, 0.19425717247145283), (606, 0.6406221326384731), (19, -0.3952847075210475), (45, 0.6993786061802353), (182, 0.9432422182837987), (202, 0.43994134506406), (217, 0.2566324512873683), (298, 0.9592712306918569), (318, 0.4466298001344307), (357, 0.5345224838248487), (434, 0.9749789778183842), (469, 0.7333587976225691), (470, -0.05157106231293968), (477, 0.43852900965351466), (489, 0.5345224838248488), (561, 0.4939145805736311), (590, 0.9174063600174063), (603, -0.07585826061362601), (608, 0.9207368843792512), (610, -0.5144957554275266), (6, -0.7333333333333333), (18, 0.9400193421607682), (32, 0.7385489458759965), (50, 0.15713484026367722), (64, -0.17407765595569785), (84, 0.8164965809277261), (103, 0.5222329678670935), (105, 0.512989176042577), (117, 0.5773502691896257), (132, 0.9801960588196069), (135, 0.8703882797784892), (140, 0.4098780306383839), (156, 0.50709255283711), (160, 0.13245323570650436), (166, -0.5261522196019802), (226, 0.9438798074485389), (266, 0.3333333333333333), (282, -0.7777777777777778), (288, 0.6005325641789633), (294, 0.47140452079103173), (304, 0.7071067811865476), (305, 0.8164965809277261), (307, 0.9655810287305762), (313, 0.058025885318565944), (314, -0.936585811581694), (322, 0.5057805388588732), (330, 0.9035942578600878), (353, 0.5773502691896257), (372, -0.07559289460184544), (373, 0.808290376865476), (380, 0), (387, 0.4714045207910317), (391, 0.8164965809277259), (411, 0.42640143271122094), (425, 0.7385489458759965), (448, 0.30151134457776363), (525, 0.8528028654224419), (559, -0.3133397807202561), (573, 0.5773502691896257), (597, 0.6900655593423543), (604, -0.11547005383792514), (1, -0.9449111825230679), (21, 0), (23, -0.8660254037844385), (33, 0.8660254037844387), (42, 0.8660254037844387), (43, -1.0000000000000002), (62, 0.9449111825230683), (63, -0.5000000000000001), (66, 0.5000000000000001), (82, 0.2401922307076307), (95, 0.8386278693775345), (107, -1.0), (112, 0.960768922830523), (121, -0.1889822365046136), (122, 0.8660254037844387), (141, 0), (144, 1.0), (153, 0.8660254037844387), (169, 1.0000000000000002), (179, 0.5000000000000001), (181, -0.9449111825230679), (186, 0), (191, 0.9449111825230678), (195, 0.0), (198, 0.0), (199, 0.7559289460184543), (200, 0.7559289460184544), (201, 0)])

In [73]:
len(pearsonCorrelationDict.items())

100

In [100]:
pearsonDF = pd.DataFrame.from_dict(pearsonCorrelationDict, orient='index')
pearsonDF.columns = ['similarityIndex']
pearsonDF['userId'] = pearsonDF.index
pearsonDF.index = range(len(pearsonDF))
pearsonDF.head(10)

   similarityIndex  userId
0         0.755709     414
1         0.063992     474
2         0.055945     177
3         0.723145     599
4        -0.664091      57
5         0.098361      68
6         0.382400      91
7         0.434524     219
8         0.713641     274
9         0.713641     480

now take the top 50 similar users

In [102]:
top50 = pearsonDF.sort_values(by ='similarityIndex',ascending = False)[0:50]
top50

    similarityIndex  userId
90         1.000000     169
88         1.000000     144
40         0.980196     132
21         0.974979     434
53         0.965581     307
84         0.960769     112
18         0.959271     298
78         0.944911      62
94         0.944911     191
46         0.943880     226
15         0.943242     182
32         0.940019      18
29         0.920737     608
27         0.917406     590
57         0.903594     330
41         0.870388     135
76         0.866025      42
89         0.866025     153
86         0.866025     122
75         0.866025      33
67         0.852803     525
82         0.838628      95
52         0.816497     305
36         0.816497      84
63         0.816497     391
60         0.808290     373
98         0.755929     200
97         0.755929     199
0          0.755709     414
65         0.738549     425
33         0.738549      32
22         0.733359     469
3          0.723145     599
9          0.713641     480
8          0.713641     274
51         0.707107     304
14         0.699379      45
70         0.690066     597
12         0.640622     606
49         0.600533     288
69         0.577350     573
39         0.577350     117
58         0.577350     353
25         0.534522     489
20         0.534522     357
37         0.522233     103
38         0.512989     105
43         0.507093     156
56         0.505781     322
80         0.500000      66

## Rating of selected users to all movies
We're going to do this by taking the weighted average of the ratings of the movies using the Pearson Correlation as the weight. But to do this, we first need to get the movies watched by the users in our pearsonDF from the ratings dataframe and then store their correlation in a new column called "similarityIndex". This is achieved below by merging of these two tables.

In [106]:
topUsersRating=top50.merge(ratings_df, left_on='userId', right_on='userId', how='inner')
topUsersRating.head(50)

    similarityIndex  userId  movieId  rating
0               1.0     169        1     4.5
1               1.0     169        2     4.0
2               1.0     169        3     5.0
3               1.0     169        5     5.0
4               1.0     169        7     4.5
5               1.0     169       11     4.0
6               1.0     169       34     4.0
7               1.0     169       39     3.5
8               1.0     169       48     3.5
9               1.0     169       60     4.0
10              1.0     169       62     5.0
11              1.0     169       73     4.0
12              1.0     169      104     5.0
13              1.0     169      150     4.5
14              1.0     169      185     4.0
15              1.0     169      208     3.5
16              1.0     169      216     3.5
17              1.0     169      231     4.5
18              1.0     169      277     4.5
19              1.0     169      317     5.0
20              1.0     169      318     5.0
21              1.0     169      333     4.5
22              1.0     169      339     4.0
23              1.0     169      344     3.5
24              1.0     169      356     4.5
25              1.0     169      364     4.5
26              1.0     169      377     4.5
27              1.0     169      440     4.0
28              1.0     169      455     3.5
29              1.0     169      457     4.0
30              1.0     169      480     4.0
31              1.0     169      500     5.0
32              1.0     169      524     5.0
33              1.0     169      527     5.0
34              1.0     169      539     4.5
35              1.0     169      585     3.0
36              1.0     169      586     5.0
37              1.0     169      588     5.0
38              1.0     169      594     4.5
39              1.0     169      595     5.0
40              1.0     169      597     4.0
41              1.0     169      631     3.0
42              1.0     169      637     4.5
43              1.0     169      661     4.0
44              1.0     169      719     4.0
45              1.0     169      736     4.0
46              1.0     169      783     4.0
47              1.0     169      788     4.5
48              1.0     169      852     4.5
49              1.0     169      899     5.0

Now  simply multiply the movie rating by its weight (The similarity index), then sum up the new ratings and divide it by the sum of the weights.

In [107]:
topUsersRating['weightedRating'] = topUsersRating['similarityIndex']*topUsersRating['rating']
topUsersRating.head()

   similarityIndex  userId  movieId  rating  weightedRating
0              1.0     169        1     4.5             4.5
1              1.0     169        2     4.0             4.0
2              1.0     169        3     5.0             5.0
3              1.0     169        5     5.0             5.0
4              1.0     169        7     4.5             4.5

In [110]:
#Applies a sum to the topUsers after grouping it up by userId
tempTopUsersRating = topUsersRating.groupby('movieId').sum()[['similarityIndex','weightedRating']]
tempTopUsersRating.columns = ['sum_similarityIndex','sum_weightedRating']
tempTopUsersRating.head()

         sum_similarityIndex  sum_weightedRating
movieId
1                  30.630623          110.066343
2                  25.292611           72.913120
3                  10.626151           34.693173
4                   0.816497            2.449490
5                   8.256908           25.740715

In [115]:
#Creates an empty dataframe
recommendation_df = pd.DataFrame()
#Now we take the weighted average
recommendation_df['weighted average'] = tempTopUsersRating['sum_weightedRating']/tempTopUsersRating['sum_similarityIndex']
#recommendation_df['movieId'] = tempTopUsersRating.index
recommendation_df.head()

         weighted average
movieId
1                3.593343
2                2.882783
3                3.264886
4                3.000000
5                3.117476

In [116]:
recommendation_df = recommendation_df.sort_values(by='weighted average', ascending=False)
recommendation_df.head(10)

         weighted average
movieId
4298                  5.0
3653                  5.0
3296                  5.0
80124                 5.0
104780                5.0
158027                5.0
126430                5.0
127052                5.0
1596                  5.0
347                   5.0

#### Top 20 movies to be recommended

In [119]:
movies_df.loc[movies_df['movieId'].isin(recommendation_df.head(20).index.tolist())]

      movieId                                              title  year
305       347                                        Bitter Moon  1992
1198     1596                                       Career Girls  1997
2364     3134                Grand Illusion (La grande illusion)  1937
2474     3296                                   To Sir with Love  1967
2721     3653                                Endless Summer, The  1966
3068     4117                                     Hope and Glory  1987
3189     4298                 Rififi (Du rififi chez les hommes)  1955
3406     4634                           Penn & Teller Get Killed  1989
7404    80124                                  Sisters (Syostry)  2001
7500    83134                              Tucker & Dale vs Evil  2010
8250   104780  Mystery of the Third Planet, The (Tayna tretey...  1981
8722   126430                                        The Pacific  2010
8727   127052          Operation 'Y' & Other Shurik's Adventures  1965
8788   129514                    George Carlin: It's Bad for Ya!  2008
8813   130970                George Carlin: Life Is Worth Losing  2005
8815   130978                                   Love and Pigeons  1985
8821   131237                                What Men Talk About  2010
9166   148671                                                Saw  2003
9214   151769                          Three from Prostokvashino  1978
9284   158027                         SORI: Voice from the Heart  2016